.DS_Store
.env

# Xcode user-specific data
ios/RealFightingGame.xcodeproj/xcuserdata/
ios/RealFightingGame.xcodeproj/project.xcworkspace/xcuserdata/
ios/RealFightingGame.xcodeproj/project.pbxproj

ios/.module-cache/

buildServer.json
